body{
    background-image: url("google.png");
    background-repeat: no-repeat;
    background-size: 1200px;
    background-attachment: fixed;
    background-position-x: 20px;
    background-position-y: 50px;
}